<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="navbar-logo" href="https://www.bitcoin-studio.com/" target="_blank">
          <img class="logo" alt="logo" src="{{uiRootPath}}/img/bitcoin-studio-black-border.svg"/>
        </a>
      </div>
      {{#if env.DOCSEARCH_ENABLED}}
        <div class="navbar-item">
          <input id="search-input" type="text" placeholder="Search...">
        </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Resources</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/bitcoin-studio/Bitcoin-Programming-with-BitcoinJS" target="_blank">
              <i class="fab fa-github"></i>&nbsp;Github Repo
            </a>
            <a class="navbar-item" href="https://github.com/bitcoin-studio/Bitcoin-Programming-with-BitcoinJS/issues" target="_blank">
              <i class="fab fa-github"></i>&nbsp;Report Issue
            </a>
            <a class="navbar-item" href="https://tippin.me/@janakaSteph" target="_blank">
              <i class="fab fa-btc"></i>&nbsp;Donate
            </a>
          </div>
        </div>
        <a id="twitter-link" class="navbar-item" href="https://twitter.com/janakaSteph" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </nav>
</header>
