<div class="nav-container"{{#if page.component}} data-component="{{page.component.name}}" data-version="{{page.version}}"{{/if}}>
  <aside class="nav">
    <div class="panels">
      <div id="search-box" class="search-box is-active">
        <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
          <input id="search-input" type="text" placeholder="Search the documentation" class="ds-input" autocomplete="off" spellcheck="false"
                 role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input"
                 aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;"
          >
          <pre aria-hidden="true"
               style="position: absolute; visibility: hidden; white-space: pre; font-family: 'open sans', sans-serif; font-size: 12px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;">
          </pre>
          <span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0"
                style="position: absolute; top: 100%; z-index: 100; left: 0px; right: auto; display: none;">
            <div class="ds-dataset-1"></div>
          </span>
        </span>
      </div>
      {{> nav-menu}}
      {{> nav-explore}}
    </div>
  </aside>
</div>
